<div class="w-full top-nav h-auto pl-20  justify-end ">
   <div class="flex items-center py-5 pl-18 justify-between">
      <div class="flex items-center pl-16">
         <img src="/icons/mind.png" class="w-20">
         <p class="text-white text-2xl">Mind <span class="text-blue-400">UP</span></p>
      </div>
      <a href="https://github.com/ortiqovdev" class="text-white px-8 "> Powered by : <span class="text-2xl text-blue-400">Ortiqovdev</span> </a>
   </div>
<div class="mx-auto line1 my-5"></div>
   <div class="pb-5 flex justify-around">
      <div>
         <p class=" ftext text-lg text-white">©Copyright - 22.06.2023</p>
         <p class="ftext">Barcha huquqlar ximoyalanga!</p>
          <p class="cursor-pointer ftext hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-envelope-at"></i> mindupuz@gamil.com</p></a>  

      </div>
      <div class="ftext">
          <span class="text-xl text-white">Bo'limlar:</span>
     <a href="/">   <p class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"> Bosh sahifa</p></a>  
       <a href="/quiz">   <p class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"> Testlar</p></a>  
        <a href="/balls">  <p class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"> O'tish ballari</p></a>  
          <a href="/result"><p class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"> Natijalarim</p></a>  
         <a href="/blog"> <p class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"> Blog</p></a>  
      </div>
      <div class="ftext">
          <span class="text-xl text-white">Biz bilan aloqa:</span>
          <p class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-telephone"></i> +998 (93) 125 17 30</p>
         <a href="https://t.me/Mr_ortiqov"><p class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-telegram"></i> @Mr_Ortiqov</p></a>  
         <a href="https://www.instagram.com/mr__ortiqov/"> <p class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-instagram"></i> @Mr__Ortiqov</p></a>  
          <p class="cursor-pointer hover:text-gray-300 hover:translate-x-1 duration-300"><i class="bi bi-envelope-at"></i> akmalbekortiqovv@gamil.com</p></a>  
      </div>
      <div class="ftext">
          <span class="text-xl text-white">Ijtimoy tarmoqlar:</span>
          <div class="flex mt-4">
         <a href="https://t.me/MindUpUz"> <p class="cursor-pointer hover:text-gray-300 hover:-translate-y-1 duration-300 text-2xl mx-1" ><i class="bi bi-telegram"></i></p></a>  
        <a href="#"> <p class="cursor-pointer hover:text-gray-300 hover:-translate-y-1 duration-300 text-2xl mx-1"><i class="bi bi-instagram"></i></p></a>  
         <a href="#"> <p class="cursor-pointer hover:text-gray-300 hover:-translate-y-1 duration-300 text-2xl mx-1"><i class="bi bi-facebook"></i></p></a>  
         <a href="#"> <p class="cursor-pointer hover:text-gray-300 hover:-translate-y-1 duration-300 text-2xl mx-1"><i class="bi bi-twitter"></i></p></a>  
         <a href="#"> <p class="cursor-pointer hover:text-gray-300 hover:-translate-y-1 duration-300 text-2xl mx-1"><i class="bi bi-messenger"></i></p></a>  
          </div>
      </div>
   </div>
</div>

<script src="/js/aside.js"></script>
<script src="/js/register.js"></script>