<div class="pt-24 pl-20 bg-slate-100 -mb-5">
   <div class="flex justify-evenly m-3">

      <div class="w-3/12 bg-slate-300 h-40 shadow-lg shadow-blue-500 rounded-md flex index-box">
         <div class="m-4">
            <p class="text-white text-lg">Yozning issiq kunlarida biz bilan aqlingizni charxlang!</p>
            <a href="#"><button class="btn h-10 w-20 p-2 mt-2">Boshlash</button></a>
         </div>
         <lord-icon src="https://cdn.lordicon.com/fcwjywdt.json" trigger="loop" delay="500"
            colors="primary:#1663c7,secondary:#66d7ee" style="width:300px;height:300px" class="-mt-16 ">
         </lord-icon>
      </div>
      <div
         class="w-3/12 bg-slate-300 h-40 shadow-lg shadow-fuchsia-300 rounded-md flex index-box1 items-center justify-around">
         <div>
            <p class="text-white text-xl">Bizni ijtimoy <br> tarmoqlar:</p>
            <div class="flex mt-3">
               <a href="https://t.me/MindUpUz"><i class="bi bi-telegram text-blue-400 text-5xl mx-5 "></i></a>
               <a href="#"><img src="/icons/insta.png" class="w-12"></a>
            </div>
         </div>
         <lord-icon src="https://cdn.lordicon.com/qgonxrut.json" trigger="loop" delay="500"
            colors="primary:#4be1ec,secondary:#cb5eee" style="width:150px;height:150px">
         </lord-icon>
      </div>
      <div class="w-3/12 bg-slate-300 h-40 shadow-lg shadow-yellow-200 rounded-md flex index-box2">

         <lord-icon src="https://cdn.lordicon.com/gbtkzxxm.json" trigger="loop" delay="500" colors="primary:#ffc738"
            style="width:150px;height:150px">
         </lord-icon>
         <div class="mt-4 flex flex-col">
            <p class="text-white text-xl">Premium versiyaga obuna bo'ling!</p>
            <a href="#" class=" btn1  mx-auto mt-5">Obuna bo'lish</a>
         </div>
         <button onclick="showModal()"> <i class="bi bi-info-circle-fill text-white m-2 pb-20"></i></button>

         <div id="myModal1" class="modal1">
            <div class="modal-content1">
               <span onclick="hideModal()" class="close1">&times;</span>
               <div class="flex items-center">
                  <lord-icon src="https://cdn.lordicon.com/whttoese.json" trigger="loop" delay="500"
                     colors="primary:#4be1ec,secondary:#cb5eee" style="width:50px;height:50px">
                  </lord-icon>
                  <p>Premium versiya obuna bo'ling!</p>
               </div>
               <div class="flex items-center"> <lord-icon src="https://cdn.lordicon.com/gowrcrni.json" trigger="loop"
                     delay="500" colors="primary:#4be1ec,secondary:#cb5eee" style="width:50px;height:50px">
                  </lord-icon>
                  <p>Obuna narxi : 000 so'm</p>
               </div>
               <div class="flex items-center">
                  <lord-icon src="https://cdn.lordicon.com/bguzswrc.json" trigger="loop" delay="500"
                     colors="primary:#4be1ec,secondary:#cb5eee" style="width:50px;height:50px">
                  </lord-icon>
                  <a href="#" class="btn1">Obuna bo'lish</a>
               </div>
            </div>
         </div>

      </div>
   </div>

   <p class="ml-24 font-semibold text-lg mt-10">Eng yaxshi natija ko'rsatganlar:</p>
   <div class="slider my-5">
      <ul>
         <li class="flex items-center">
            <img src="ims/download (1).jpg" alt="">
            <div class="flex flex-col">
               <p class="font-semibold "> Akaml Ortiqov</p>
               <p class="text-gray-700">Xoramz 4-son</p>
            </div>
            <div class="bg-white ml-14 rounded-lg  shadow-slate-500 shadow-inner">
               <p class="p-2">189 ball</p>
            </div>
         </li>
         <li class="flex items-center">
            <img src="ims/download (1).jpg" alt="">
            <div class="flex flex-col">
               <p class="font-semibold "> Akaml Ortiqov</p>
               <p class="text-gray-700">Xoramz 4-son</p>
            </div>
            <div class="bg-white ml-14 rounded-lg  shadow-slate-500 shadow-inner">
               <p class="p-2">189 ball</p>
            </div>
         </li>
         <li class="flex items-center">
            <img src="ims/download (1).jpg" alt="">
            <div class="flex flex-col">
               <p class="font-semibold "> Akaml Ortiqov</p>
               <p class="text-gray-700">Xoramz 4-son</p>
            </div>
            <div class="bg-white ml-14 rounded-lg  shadow-slate-500 shadow-inner">
               <p class="p-2">189 ball</p>
            </div>
         </li>
         <li class="flex items-center">
            <img src="ims/download (1).jpg" alt="">
            <div class="flex flex-col">
               <p class="font-semibold "> Akaml Ortiqov</p>
               <p class="text-gray-700">Xoramz 4-son</p>
            </div>
            <div class="bg-white ml-14 rounded-lg  shadow-slate-500 shadow-inner">
               <p class="p-2">189 ball</p>
            </div>
         </li>
         <li class="flex items-center">
            <img src="ims/download (1).jpg" alt="">
            <div class="flex flex-col">
               <p class="font-semibold "> Akaml Ortiqov</p>
               <p class="text-gray-700">Xoramz 4-son</p>
            </div>
            <div class="bg-white ml-14 rounded-lg  shadow-slate-500 shadow-inner">
               <p class="p-2">189 ball</p>
            </div>
         </li>
         <li class="flex items-center">
            <img src="ims/download (1).jpg" alt="">
            <div class="flex flex-col">
               <p class="font-semibold "> Akaml Ortiqov</p>
               <p class="text-gray-700">Xoramz 4-son</p>
            </div>
            <div class="bg-white ml-14 rounded-lg  shadow-slate-500 shadow-inner">
               <p class="p-2">189 ball</p>
            </div>
         </li>
         <li class="flex items-center">
            <img src="ims/download (1).jpg" alt="">
            <div class="flex flex-col">
               <p class="font-semibold "> Akaml Ortiqov</p>
               <p class="text-gray-700">Xoramz 4-son</p>
            </div>
            <div class="bg-white ml-14 rounded-lg  shadow-slate-500 shadow-inner">
               <p class="p-2">189 ball</p>
            </div>
         </li>
         <li class="flex items-center">
            <img src="ims/download (1).jpg" alt="">
            <div class="flex flex-col">
               <p class="font-semibold "> Akaml Ortiqov</p>
               <p class="text-gray-700">Xoramz 4-son</p>
            </div>
            <div class="bg-white ml-14 rounded-lg  shadow-slate-500 shadow-inner">
               <p class="p-2">189 ball</p>
            </div>
         </li>
         <li class="flex items-center">
            <img src="ims/download (1).jpg" alt="">
            <div class="flex flex-col">
               <p class="font-semibold "> Akaml Ortiqov</p>
               <p class="text-gray-700">Xoramz 4-son</p>
            </div>
            <div class="bg-white ml-14 rounded-lg  shadow-slate-500 shadow-inner">
               <p class="p-2">189 ball</p>
            </div>
         </li>


      </ul>
   </div>

   <p class="ml-24 font-semibold text-lg mt-10">Eng ko'p kirilgan testlar:</p>
   <div class="grid grid-cols-4 mx-14 my-5">
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Fizika</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Mexanika</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Matemetika</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Trigonometriya</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Ona tili</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Fonetika</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Tarix</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Mezolit davri</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Matemetika</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Prograssiylar</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Fizika</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Elektr</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Dasturlash</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Node.js</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Engilsh</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>To be</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Adabiyot</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Boburnoma</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 w-80 m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>Fizika</p>
            <p><i class="bi bi-alarm mx-1"></i> 30 ta | 60min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Statika</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
   </div>

   <p class="ml-24 font-semibold text-lg mt-10">Eng ko'p kirilgan OTM savollar:</p>
   <div class="grid grid-cols-3 mx-14 my-5 pb-5">
      <div class="bg-blue-500  m-2 p-3 otm-w">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>3-ta majburiy</p>
            <p><i class="bi bi-alarm mx-1"></i> 90 ta | 180min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Matemetika-Fizika</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 otm-w m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>3-ta majburiy</p>
            <p><i class="bi bi-alarm mx-1"></i> 90 ta | 180min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Ona tili-Tarix</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 otm-w m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>3-ta majburiy</p>
            <p><i class="bi bi-alarm mx-1"></i> 90 ta | 180min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Tarix-Ingilz</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
      <div class="bg-blue-500 otm-w m-2 p-3">
         <div class="flex justify-between">
            <p><i class="bi bi-book mx-2"></i>3-ta majburiy</p>
            <p><i class="bi bi-alarm mx-1"></i> 90 ta | 180min </p>
         </div>
         <div class="flex justify-between mt-2">
            <p class="text-2xl text-white"><i class="bi bi-layers mx-2"></i></i>Ont tili-Ingilz</p>
            <a href="#" class="bg-white p-1 rounded-lg">Boshlash</a>
         </div>
      </div>
   </div>

   <p class="ml-24 font-semibold text-lg ">Eng sara bloglar:</p>

   <div class="grid grid-cols-3 mx-14 my-5 pb-5">
      <div class="bg-blue-500 otm-w rounded-lg">
         <img src="/imgs/blog.png" class="rounded-lg" alt="">
         <p class="m-1 text-slate-600">23.06.2023</p>
         <p class="mx-2 mb-2 font-semibold">Magistraturaga kirishda 2 ta sertifikat, "TÖMER" va "AIL" endi oʻtmaydi...</p>
         <p class="mx-2 mb-4 ">Xullas, sertifikatlar roʻyxati 27 tadan 25 taga qisqardi. Endilikda turk tili sertifikatlar tarkibidan "Aydin TÖMER" va italyan tilidan "Accademia Italiana di Lingua ( AIL )" olib tashlandi. </p>
      </div>
      <div class="bg-blue-500 otm-w rounded-lg">
         <img src="/imgs/blog2.png" class="rounded-lg" alt="">
         <p class="m-1 text-slate-600">23.06.2023</p>
         <p class="mx-2 mb-2 font-semibold">Coursera O‘zbekistonga 1 200 000 ta bepul akkaunt ajratdi</p>
         <p class="mx-2 mb-4 ">2023-yildan boshlab 1,2 million nafar o‘zbekistonlik yosh IT sohasining 3 ta yo‘nalishi (frontend, Python, IT-English) bo‘yicha bepul onlayn ta’lim olishi, zamonaviy bilimlarni egallashi hamda Coursera sertifikatiga ega bo‘lishi mumkin. </p>
      </div>
   </div>

</div>




<div id="my-box" class="box">
   <p class="textt">Saytimiz <b>beta</b> rejimda faoliyat yuritmoqda!</p>

   <button id="close-button" class="btn">Ok</button>
</div>

<div id="myModal" class="modal">

   <div class="modal-content rounded-md">
      <span class="close" onclick="closeModal()">&times;</span>

      <input type="search" placeholder="Qidiruv..." class="w-full p-2">
      <br><br>

      <button type="submit" class="bg-blue-500 btn justify-end">Qidirish</button>
   </div>

</div>
<script>
   window.onload = function () {
      var closeButton = document.getElementById('close-button');
      var myBox = document.getElementById('my-box');

      closeButton.addEventListener('click', function () {
         myBox.style.display = 'none';
      });
   };


   function openModal() {
      document.getElementById("myModal").style.display = "block";
   }

   function closeModal() {
      document.getElementById("myModal").style.display = "none";
   }
   function openModal() {
      document.getElementById("myModal").style.display = "block";
   }

   function closeModal() {
      document.getElementById("myModal").style.display = "none";
   }

</script>