<div class="top-nav h-20 w-full fixed flex items-center justify-between ">


   <li class="nav-item1 p-0">
      <a href="/" class="nav-link1 ">
         <lord-icon src="https://cdn.lordicon.com/kxoxiwrf.json" trigger="morph"
            colors="primary:#4be1ec,secondary:#cb5eee" style="width:60px;height:60px">
         </lord-icon>
      </a>
   </li>
   {{#if onIndex}}
   <p class="mx-auto home-text">Bosh sahifa</p>
   {{/if}}
   {{#if quizOn}}
   <p class="mx-auto home-text">Testlar</p>
   {{/if}}
   {{#if resultOn}}
   <p class="mx-auto home-text">Mening natijalarim</p>
   {{/if}}
   {{#if ballsOn}}
   <p class="mx-auto home-text">O'tish ballari</p>
   {{/if}}
   {{#if settingOn}}
   <p class="mx-auto home-text">Sozlamalar</p>
   {{/if}}
   {{#if blogOn}}
   <p class="mx-auto home-text">Blog & Yangiliklar</p>
   {{/if}}
   <a href="/login"> <button class="glow-on-hover mx-3" type="button">Kirish</button></a>
</div>
<script>

</script>