<div class="pt-24 pl-20 index-bg -mb-5">
   <h1>O'tish ballari</h1>
   <br><br>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium et, aspernatur eaque dicta officiis quas,
      ipsum pariatur, sit ducimus assumenda porro maiores ipsam dolores ab dolorum animi minima praesentium iure. Earum
      illum quidem eos facere excepturi nihil natus amet temporibus ad qui perferendis esse necessitatibus vitae aliquid
      laboriosam, non molestias ducimus. Suscipit quae ad praesentium similique cum sit beatae recusandae quisquam
      eveniet, consequuntur deserunt soluta est nulla voluptatibus ducimus voluptas sequi eius repudiandae! Rerum,
      sapiente quis odio sit dolorum illum vel eaque dicta iure aliquam cupiditate dolore reiciendis sequi ipsum quidem.
      Sunt minima sed praesentium neque fugiat nam expedita quam facilis, velit architecto repellat accusantium magni
      illo deleniti ipsa animi nisi? Iste eveniet aliquam tempore optio enim totam itaque voluptates repellendus fuga,
      at maxime debitis. At molestias minima ut temporibus commodi, voluptate cupiditate repudiandae. Perspiciatis magni
      sint modi quaerat, excepturi consectetur cupiditate necessitatibus repudiandae explicabo repellat, quae, fuga non
      adipisci in animi assumenda. Necessitatibus quisquam odio quis tempora ut ipsum natus unde nostrum dicta, possimus
      labore quia exercitationem fugit sit sequi nesciunt temporibus porro. Officiis aut adipisci, consequuntur quae
      culpa unde in, distinctio ipsa eaque magnam et! Ipsa temporibus, in animi, voluptatibus, aut magni sequi doloribus
      libero numquam nulla ex adipisci laborum! Incidunt quidem a eaque facilis, odit doloribus veritatis culpa?
      Provident voluptate impedit, similique architecto corrupti sit aliquid eveniet in corporis placeat temporibus
      esse? Aspernatur, perferendis! Rem, aliquid modi repellat earum corrupti, deleniti veritatis laudantium soluta
      quis suscipit exercitationem est similique. Facere animi, dolor vel facilis saepe laborum voluptatum quam fugiat,
      fugit mollitia molestiae quidem impedit nostrum qui quia error! Nisi, provident voluptas? Molestiae architecto
      libero quos. Repellendus aut asperiores eos eius placeat ex earum necessitatibus facere numquam explicabo.
      Consequuntur cum laudantium totam accusamus voluptatibus dolor maxime, rem quaerat dolores magni corporis est.
      Dignissimos itaque officia cumque delectus ea soluta. Aspernatur hic aliquid corporis iure, dignissimos magni ad
      quae molestiae aut debitis ipsum maiores. Voluptatum a ad quasi. Dolor perferendis blanditiis reprehenderit fugit
      facere tempore incidunt placeat recusandae necessitatibus exercitationem, excepturi quis mollitia modi officia
      architecto neque labore officiis ipsa iste enim nisi illum debitis? Exercitationem repellendus sint dolorum
      blanditiis commodi, cumque velit pariatur mollitia alias aperiam. Ad eaque incidunt repellat delectus, sapiente
      eum odit sed soluta! Voluptate natus mollitia, itaque placeat, hic eaque perferendis libero laborum qui, ipsam
      est! Odio saepe assumenda at esse sapiente doloremque, ratione veritatis necessitatibus earum eos mollitia aperiam
      sit consectetur corrupti modi voluptatem? Accusamus magnam voluptatum eligendi soluta magni beatae omnis quis
      minima a eveniet deleniti ipsum, aspernatur porro earum odio, maxime sed, vel explicabo? Rerum eius voluptates
      suscipit repudiandae voluptatibus nam ut voluptas praesentium impedit cupiditate? Deleniti dolorum laborum eius a
      odio tenetur ullam! Alias aliquam voluptas pariatur exercitationem, libero eos voluptatibus non quos ea, nesciunt
      deserunt. Dolore eos cumque veniam, consectetur laudantium ab omnis quia ratione saepe, dolor sed commodi
      assumenda quos perferendis? Cumque reiciendis quo odit recusandae voluptatem nisi provident ea nemo. Officiis quo
      voluptates quaerat doloremque. Corporis possimus nisi iste adipisci maxime. Quibusdam blanditiis placeat at
      expedita dolorem excepturi provident fugiat officiis dolore nostrum quisquam facere obcaecati dicta cumque
      perspiciatis sequi voluptatibus fugit labore adipisci, consequuntur, illum odit ipsa praesentium qui! Facere,
      praesentium, ducimus debitis illo atque, voluptatem sit quisquam accusamus eveniet recusandae qui repudiandae
      odit. Eos labore dolorum, maiores voluptas dolor cumque beatae hic. Doloribus optio, et expedita officiis atque
      hic exercitationem reiciendis provident eaque ducimus ipsa eveniet dolor ex autem accusantium porro. Tenetur quia,
      provident aliquam placeat temporibus numquam debitis sequi incidunt quibusdam fuga eaque in. Consequatur animi
      nulla tempora nisi architecto dolorem dolore provident. Voluptas provident eveniet dolorum. Sapiente cum, possimus
      debitis repudiandae sunt sint! Officia amet quas libero, quis praesentium sequi dicta facilis, eligendi ipsa cum
      aliquam eius eaque deserunt necessitatibus tempore esse excepturi fuga quaerat cumque corporis quos, reprehenderit
      molestiae iusto nesciunt. Reiciendis nulla aliquid itaque quo praesentium quidem explicabo? Fuga molestias, ipsum
      at qui porro inventore maiores neque commodi quis voluptatem vero, assumenda aut quia a reprehenderit cum quae
      molestiae itaque. Porro illum architecto reiciendis ut repellendus nesciunt aut nulla commodi, laudantium aliquam
      nobis dolores exercitationem temporibus. Ullam iste iure voluptatum. Reiciendis error tempora quod recusandae? Ea
      repellat quae, labore numquam illo nesciunt, corporis vero dolore ipsum, a molestiae officiis harum! Quia
      accusamus velit laudantium nesciunt ipsam voluptates dicta animi beatae ea illo nisi repellat tempore culpa
      laboriosam mollitia obcaecati temporibus, debitis voluptatibus at impedit porro dolorem fugiat! Amet, sapiente
      explicabo. Cumque eum provident, eos nostrum soluta culpa nobis hic pariatur cupiditate ea assumenda maxime
      voluptatum odio ipsum ratione natus blanditiis tempore! Vero, nesciunt tenetur iusto quasi dolore sequi soluta
      sint, at laboriosam est ut ex optio natus, mollitia facere rem numquam sit officia? Assumenda, quo enim! Dolorem
      obcaecati velit illo reiciendis! Nobis, aut eum quam iste explicabo aliquam. Esse maiores, quaerat reprehenderit
      facilis assumenda temporibus soluta, expedita tempore magnam aspernatur adipisci. Accusantium voluptatibus
      consequatur vero nesciunt obcaecati atque vel asperiores minima dicta, debitis ad dolor, saepe labore blanditiis
      aspernatur voluptatem deleniti tempora. Laborum quis error magni ducimus, laudantium eius. Blanditiis dolorum
      nihil veniam? Ab dicta odit, odio quod officiis quae quam iusto provident ea doloremque? Consectetur, eum magnam!
      Sunt soluta ipsam unde rem animi? Molestiae ullam et nam, labore ea delectus. Similique placeat sed aliquid veniam
      sunt porro qui neque, nihil necessitatibus repellendus suscipit exercitationem odio molestiae beatae voluptatibus
      vitae sapiente ab repudiandae nulla in iure illum vero magni libero. Reiciendis et, quos iure culpa, eligendi
      repellat tenetur quas quasi quo quod, nihil vero corporis. Iure odit ut eum eos expedita molestiae nam, dolor
      officiis similique dolore sit quo veniam quos veritatis in. Aliquid iusto ratione, excepturi rerum est a ad veniam
      repellendus perspiciatis hic odio? Quas mollitia eius laudantium eos, quibusdam magni iusto! Commodi ab dolor
      cupiditate dolorem fugiat. Voluptates, ducimus minima. Animi laboriosam distinctio laborum veniam, minima rem
      porro obcaecati explicabo dolore aliquam fugit odio enim vero. Suscipit nostrum reiciendis laudantium labore enim,
      provident odit, sapiente quod totam ipsum accusamus a tempora sunt vel unde deleniti atque distinctio animi
      voluptates sed magnam mollitia qui quasi? Laboriosam nulla excepturi laudantium itaque!</p>
</div>